.container .write {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.container .write form {
  width: 35%;
  display: flex;
  align-items: center;
  border: 1px solid gray;
  padding: 8px 10px;
  border-radius: 25px;
  background-color: white;
}
.container .write form .icon {
  font-size: 20px;
}

.container .write form input {
  width: 100%;
  font-size: 16px;
  outline: none;
  border: none;
  background: transparent;
  padding: 0px 10px;
}

.container .write .row select {
  width: 100%;
  padding: 4px 50px;
  margin-bottom: 10px;
  font-size: 20px;
}

.container .cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 40px;
  margin-bottom: 50px;
}
.container .cards .cardBox {
  width: 22%;
  border: 1px solid rgba(128, 128, 128, 0.365);
  background-color: white;
  box-shadow: 1px 1px 20px;
  margin-bottom: 20px;
}
.container .cards .cardBox .images {
  width: 100%;
  height: 180px;
}
.container .cards .cardBox .images img {
  width: 100%;
}
.boxWrite {
  padding: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.boxWrite h2 {
  margin-bottom: 6px;
}
.boxWrite h4 {
  margin-bottom: 3px;
}
.boxWrite h5 {
  margin-bottom: 3px;
}
