
.modalOne {
  width: 100%;
  height: 100vh;
  background-color: rgba(255, 166, 0, 0.596);
  position: fixed;
  backdrop-filter: blur(5px);
  align-content: center;
}


.modalOne .modal .modalContent {
  width: 70%;
  background-color: white;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
