.headColor.active {
  background-color: black;
}

.navbar .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 35px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.navbar .container .logo h1 {
  font-size: 40px;
}
.headColor.active.navbar {
  background-color: black;
}
.navbar .container .btns {
  display: flex;
  align-items: center;
  gap: 5px;
  border: 1px solid gray;
  padding: 4px 6px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
}
.navbar .container .btns .btn1 {
  margin-top: 5px;
}
.navbar .container .btns .btn1 .btn h4 {
  color: white;
}
.headColor.dark .navbar {
  color: white;
}
.navbar ul{
  display: flex;
  align-items: center;
  gap: 10px;
  list-style: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  text-transform: uppercase;
}

.navbar ul a{
  text-decoration: none;
}
